<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">About me</h2>
  <hr class="mb-4 border-amber-700">
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">
    I'm a full-stack developer based in <strong class="text-zinc-100 font-medium">Ontario, Canada</strong>. With over <strong class="text-zinc-100 font-medium">10 years</strong> of experience in the field, I've had the opportunity to build awesome websites and applications with great people.
    Though much of my experience has been with <strong class="text-zinc-100 font-medium">WordPress</strong> agencies, I've developed a well-rounded skill set spanning to both front and back-end development.
    As a detail-oriented problem-solver I am always striving to find the <strong class="text-zinc-100 font-medium">simplest</strong>, most <strong class="text-zinc-100 font-medium">robust</strong> and <strong class="text-zinc-100 font-medium">accessible</strong> approach to every project.
  </p>
  <!-- SOMETHING ABOUT WORDPRESS, FULL STACK, DESIGN, SOFT SKILLS AND FRONTEND -->
</section>