---
import IconContainer from "@components/IconContainer.astro";
import Css from "@assets/icons/css.astro";
import Javascript from "@assets/icons/javascript.astro";
import Html from "@assets/icons/html.astro";
import Tailwind from "@assets/icons/tailwind.astro";
import AstroIcon from "@assets/icons/astro.astro";
import Express from "@assets/icons/express.astro";
import Node from "@assets/icons/node.astro";
import Mysql from "@assets/icons/mysql.astro";
import Postgresql from "@assets/icons/postgresql.astro";
import Bash from "@assets/icons/bash.astro";
import Git from "@assets/icons/git.astro";
import Github from "@assets/icons/github.astro";
import Vscode from "@assets/icons/vscode.astro";
import Figma from "@assets/icons/figma.astro";
import Sass from "@assets/icons/sass.astro";
import Vue from "@assets/icons/vue.astro";
import WordPress from "@assets/icons/wordpress.astro";
import PHP from "@assets/icons/php.astro";
import Slack from "@assets/icons/slack.astro";
import Wordpress from "@assets/icons/wordpress.astro";
import Webpack from "@assets/icons/webpack.astro";
import Apache from "@assets/icons/apache.astro";
import Atlassian from "@assets/icons/atlassian.astro";
import Nginx from "@assets/icons/nginx.astro";
---

<!--
Languages: JavaScript (ES6), TypeScript, HTML, GraphQL, SQL,
Frameworks and libraries: Vue JS, Nuxt JS, Router, Vuex, Pinia, React (Router, Redux), Next JS, Remix,
Gatsby, Svelte, SvelteKit, Apollo, Alpine.js, Storyblok, Storybook, Tailwind CSS, Prisma, React Native
Technologies: Node.JS, Express.JS, MongoDB, MySQL, AJAX, REST API, TRPC, GraphQL
Tools: Vite, Webpack, Rollup
 -->

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Core Skills</h2>
  <hr class="mb-6 border-amber-700">

  <h3 class="text-xl font-medium mb-4 siz">Frontend</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="HTML">
      <Html size="size-9" />
    </IconContainer>
    <IconContainer name="CSS">
      <Css size="size-9" />
    </IconContainer>
    <IconContainer name="JavaScript">
      <Javascript size="size-9" />
    </IconContainer>
    <IconContainer name="Vue">
      <Vue size="size-9" />
    </IconContainer>
    <IconContainer name="Sass">
      <Sass size="size-9" />
    </IconContainer>    
    <IconContainer name="Tailwind">
      <Tailwind size="size-9" />
    </IconContainer>
    <IconContainer name="Astro">
      <AstroIcon size="size-9" />
    </IconContainer>
  </div>

  <h3 class="text-xl font-medium mt-6 mb-4">Backend</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="WordPress">
      <Wordpress size="size-9" />
    </IconContainer>
    <IconContainer name="PHP">
      <PHP size="size-9" />
    </IconContainer>    
    <IconContainer name="MySQL">
      <Mysql size="size-9" />
    </IconContainer>
    <IconContainer name="Apache">
      <Apache size="size-9" />
    </IconContainer>
    <IconContainer name="NGINX">
      <Nginx size="size-9" />
    </IconContainer>    
  </div>

  <h3 class="text-xl font-medium mt-6 mb-4">Tooling</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="VSCode">
      <Vscode size="size-9" />
    </IconContainer>
    <IconContainer name="Figma">
      <Figma size="size-9" />
    </IconContainer>
    <IconContainer name="Slack">
      <Slack size="size-9" />
    </IconContainer>
    <IconContainer name="Bash">
      <Bash size="size-9" />
    </IconContainer>
    <IconContainer name="Git">
      <Git size="size-9" />
    </IconContainer>
    <IconContainer name="Github">
      <Github size="size-9" />
    </IconContainer>
    <IconContainer name="Webpack">
      <Webpack size="size-9" />
    </IconContainer>    
  </div>
</section>